<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.skoline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_skoline"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.VideoPlayActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.activities.TopicItemsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.activities.SubjectsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activities.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activities.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.WelcomeVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.WelcomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ResendUname"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.TopicScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.HelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>